.chefs-container{
    background: #dce1df;
    color: #4f585e;
    font-family: Didot;
    text-rendering: optimizeLegibility;
    height: 175vh;
}


.chef-card{
    display: grid;
    grid-template-column: 20% 20% 20% 20% 20%;
    grid-template-row: 50% 50%;
    grid-template-areas:
            'card card card card card'
            'card card card card card';
    /*font-family: Didot;*/
    font-weight: normal;
    font-size: 10px;
    margin: 50px auto;
    max-width: 1250px;
    text-align: center;
}


.card{
    /*border: 1px solid slategray;*/
    background: white;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: center;
}

.chef-name{
    background: white;
    padding: 6px 15px 10px;
    position: relative;
}

.chef-image{
    text-align: center;
    width: 100%;
    height: 250px;
}

.chef-description{
    text-align: justify;
    padding: 0px 10px 10px;
}



