.welcome-screen-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% auto;
    grid-template-areas:
     "nav nav"
     "message image";
}

.welcome-screen-header-div{
    background: #F5F2EA;
    border: 1px solid #979797;
    grid-area: nav;
    align-self: center;
}

.welcome-screen-header{
    font-family: Phosphate-Inline;
    font-size: 30px;
    font-weight: normal;
    color: rgba(16,16,16,0.73);
    text-align: left;
    margin-left: 40px;
    margin-bottom: 0px;
}

.welcome-message-div{
    font-family: MLingWaiMedium-TC;
    font-size: 25px;
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    grid-area: message;
    align-self: center;
}

.welcome-img-div{
    text-align: right;
    margin-right: 100px;
    grid-area: image;
    align-self: center;
}

.welcome-img{
    height: 600px;
    width: 750px;
}

.continue-button{
    background: rgba(236,185,0,0.18);
    border: 1px solid #979797;
    font-family: Phosphate-Inline;
    font-size: 20px;
    color: rgba(0,0,0,0.73);
    text-align: left;
    margin-left: 160px;
}